.footer {
    background-color: rgb(228, 226, 226);
    padding: 20px 0; 
}

.display-2 {
    font-family: 'Fredoka One';

}
.display-1 {
    font-family: 'Bungee Inline' ;
    color: rgb(53, 71, 170);
}
.navbar-brand{
    font-family: 'Bungee Inline' ;
}




